## Build results
[Bb]uild/
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
*.snupkg
**/packages/
project.lock.json
project.fragment.lock.json

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

## Rider
.idea/

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults/

## OS files
.DS_Store
Thumbs.db

## Docs
docs/node_modules/
docs/dist/
docs/.astro/
